body{
    margin: 30px 0px;
    padding: 0;
    background-color: rgb(26, 105, 188);
    display: flex; flex-direction: column; align-items: center; 

}

#outer-scoreboard {
    text-align: center;
    padding: 10px 30px;
    border: 6px black solid;
    background-color: whitesmoke; color: black;
}

#scoreboard {
    display: flex; justify-content: space-between;
    min-width: 350px;
    
}
#human-score, #computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#scoreboard .hyphen {
    margin: 0;
    font-size: 100px;
}
#human-score-number, #computer-score-number {
    margin: 0;
    padding: 0px 10px;
    font-size: 100px;
    border: 2px solid black ;
    display: flex; justify-content: center;
}

#results {
    margin: 10px; padding: 0px 10px;
    border: 4px black solid;
    min-width: 394px; background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

#results p {
    padding-bottom: 6px;
}

#comp-chose-div {
    display: flex;
    gap: 12px;
    align-items: baseline;
}

.buttons #rock, #paper, #scissors {
    background-color: blueviolet;
}
#rock, #paper, #scissors {
    background-size: 100%;
    border: black 2px solid; border-radius: 10px;
}
#rock {
    height: 110px; width: 80px;
    background-image: url(../rock-paper-scissors/images/rock-hand.png);
    background-size: 80px auto;
    
}

#paper {
    height: 110px; width: 69px;
    background-image: url(../rock-paper-scissors/images/paper-hand.png);
    background-size: 65px auto;
}

#scissors {
    height: 110px; width: 80px;
    background-image: url(../rock-paper-scissors/images/scissors-hand.png);
    background-size: 75px auto;
}

#reset-button {
    margin-top: 30px;
    color: black;
}

a:visited {
    text-decoration: none;
    color: blackgit ;
}

button:hover {
    box-shadow: inset 0 0 6px 1px;
}